<section>
  <h1>Cão terapeuta</h1>
  <dl>
    <dt>Nome</dt>
    <dd><%= @therapist_dog.name %></dd>
    <dt>Data de nascimento</dt>
    <dd><%= @therapist_dog.date_of_birth %></dd>
    <dt>Raça</dt>
    <dd><%= @therapist_dog.breed %></dd>
    <dt>Status</dt>
    <dd><%= @therapist_dog.status %></dd>
    <dt>Descrição</dt>
    <dd><%= @therapist_dog.description %>.</dd>
  </dl>
</section>
